*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.emotion-item {
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

.recipe {
    display: none;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}