.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
}

.d-none {
    display: none;
}

.d-active {
    display: block;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: white;
    padding: 20px;
    list-style-type: none;
}

.burger-menu {
    position: relative;
}